@import '../../../stylesConfig.scss';

.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  align-items: flex-start;
  & > .movies{
    margin-top: 5vh;
    height: 80%;
    width: 100%;
    overflow: hidden;
  }
  & > .headerFilters {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: space-around;
    & > .selectContainer {
      width: 200px;
      height: 25px;
      .select{
        width: 100%;
        height: 100%;
        background-color: transparent;
        color: $font_color;
      }
    }
  }
}