.pageContainer {
  width: 100%;
  height: 100%;
  padding: 20px;
  & > .MovieLibrary {
    text-align: center;
    height: 100%;
    width: 100%;
  }
  & > .grid {
    display: grid;
    margin-top: 50px;
    grid-template-rows: 50px 50%;
    grid-template-columns: auto;
    height: 600px;
    width: 100%;
    & > .moviesContainer {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
  }
}