@import '../../../../stylesConfig.scss';

.select{
  width: 400px;
  user-select: none;
  margin: 100px auto;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: row;
  border: 1px solid #fff;
  & > .select_btn {
    padding: 15px 20px;
    background: $primary_background;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: $common_color_white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    flex: 1;
  }
  & > .select_content {
    position: absolute;
    transition: all 0.2s;
    top: 110%;
    background: $field_input_color;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: $common_color_white;
    width: calc(100%);
    & > .select_item {
      padding: 10px;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        background: rgba(79, 79, 79, 0.1);
      }
    }
    & > .selected_item{
      background: rgba(79, 79, 79, 0.1);
    }
  }
}

