.scrollContainer {
    display: flex;
    position: relative;
    overflow: auto;
    height: 100%;
    width: auto;
    & > .horizontalScroll {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-evenly;
        height: 100%;
        width: auto;
    }
    &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }
    &::-webkit-scrollbar-track {
        background: white;
    }
    &::-webkit-scrollbar-thumb {
        background: #ddd;
        visibility:hidden;
    }
    &:hover::-webkit-scrollbar-thumb {
        visibility:visible;
    }
}