.scrollContainer {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 100%;
    & > .horizontalScroll {
        height: 300px;
        width: 100%;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: thin;
        &::-webkit-scrollbar {
            width: 1px;
            height: 3px;
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: #FF0000;
        }
        &::-webkit-scrollbar-button {
            display: none;
        }
        &::-webkit-scrollbar-track-piece {
            background: #888
        }
    }
}