.cardContainer{
  display: flex;
  width: 200px;
  height: 300px;
  margin-top: 4vh;
  margin: 4vh 2vw 0 2vw;
  overflow: hidden;
  & > .moviePoster{
    width: 200px;
    height: 300px;
    overflow: hidden;
  }
}